<!DOCTYPE html>
<html ng-app="angular-page">
	<head>
		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Start Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		<link rel="stylesheet" type="text/css" href="css/estilo-mobile.css">
		<!-- // <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
		<script src="lib/angular.min.js"></script>
		<script type="text/javascript" src="js/data-angular.js"></script>
	</head>
	<body>

		<header>

			<div id="menu-slider">
					<ul>
						<li><a id="link-services-mobile">Services</a></li>
						<li><a id="link-team-mobile">Team</a></li>
						<li><a id="link-portfolio-mobile">Portfolio</a></li>
						<li><a id="link-contact-mobile">Contact</a></li>
					</ul>
				</div>

			<nav id="menu-mobile">
				<div class="container">
					<h1 class="pull-left">Start Theme</h1>
					<button id="btn-bars" class="pull-right" type="button"><i class="fa fa-bars"></i></button>
				</div>
			</nav>

			<nav id="menu-fixed">
				<div class="container">
					<h1 id="slide-top" class="pull-left">Start Theme</h1>
					<ul class="pull-right list-inline">
						<li><a id="link-services-fixed">Services</a></li>
						<li><a id="link-team-fixed">Team</a></li>
						<li><a id="link-portfolio-fixed">Portfolio</a></li>
						<li><a id="link-contact-fixed">Contact</a></li>
					</ul>
				</div>
			</nav>

			<nav id="menu">
				<div class="container">
					<h1 class="pull-left">Start Theme</h1>
					<ul class="pull-right">
						<li><a id="link-services">Services</a></li>
						<li><a id="link-team">Team</a></li>
						<li><a id="link-portfolio">Portfolio</a></li>
						<li><a id="link-contact">Contact</a></li>
					</ul>
				</div>
			</nav>

			<div id="center-top">
				<div class="container text-center">
					<h2>Welcome To Our Studio!</h2>
					<h1>IT'S NICE TO MEET YOU</h1>
					<a id="down-page" class="btn btn-down-page"><i class="fa fa-angle-double-down"></i></a>
				</div>
			</div>

		</header>

		<section>

			<!-- services -->
			<div id="services" ng-controller='servicesctrl'>
				<div class="serv container text-center">
					<h1>Services</h1>
					<p>Lorem ipsum dolor sit amet consectetur.</p>

					<div class="row text-center icones">

						<div class="col-md-3" ng-repeat="services in services">
							<span><i class="{{services.icon}}"></i></span>
							<h2>{{services.title}}</h2>
							<p>{{services.description}}</p>
						</div>
					</div>

					<div class="row">
						<a target="_blank" href="https://github.com/rodriguesarthur/theme-start-angular" class="btn btn-source"><i class="fab fa-github"></i>View Source</a>
					</div>

				</div><!-- /container -->
			</div><!-- /services -->

			<!-- team -->
			<div id="team" ng-controller="teamctrl">
				<div class="container text-center">
					<h1>Team</h1>
					<p>Lorem ipsum dolor sit amet consectetur.</p>

					<div class="row text-center team">

						<div class="col-sm-3" ng-repeat="user in team">
							<img class="img-comment" src="{{user.image}}">
							<h3>{{user.name}}</h3>
							<p>{{user.job}}</p>
						</div>

					</div><!-- row text-center team -->

					<div class="row col-sm-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
					</div>

				</div><!-- /container -->
			</div><!-- /team -->

			<div id="portfolio" ng-controller="portfolioctrl">
				<div class="container text-center">
					<h1>Portfolio</h1>
					<p>Lorem ipsum dolor sit amet consectetur.</p>

					<div class="col-lg-12 images-portfolio">
						<div class="col-sm-3"  ng-repeat="images in portfolio">
							<img src="{{images.image}}" alt="{{images.title}}">
						</div>
					</div>

					<div class="mask-image-open"></div>

					<div id="image-open">
						<img src="" alt="">
						<a class="close-box-image"><i class="fas fa-times"></i></a>
					</div>

				</div><!-- /container -->
			</div><!-- /portfolio -->

			<div id="contact">
				<div class="container text-center">
					<h1>Contact</h1>
					<p>Lorem ipsum dolor sit amet consectetur.</p>

					<div class="col-lg-12">
						<div class="col-sm-6">
							<div class="input-group">
								<form name="contact" method="POST">
									<input type="text" class="form-control input-contact" placeholder="Name" aria-describedby="basic-addon1">
									<input type="email" class="form-control input-contact" placeholder="E-mail" aria-describedby="basic-addon1">
									<input type="text" class="form-control input-contact" placeholder="Phone Number" aria-describedby="basic-addon1">
									<textarea class="form-control input-contact" placeholder="Message" rows="6"></textarea>
									<input type="submit" class="btn btn-send form-control input-contact" value="Send">
								</form>	
							</div>
						</div>
						<div class="col-sm-6">
							<div id="map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d34192.76423823485!2d-74.28570431041571!3d40.75670330601196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1526907465095" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div><!-- col-lg-12 -->

				</div><!-- container -->
			</div><!-- contact -->

			<div id="box-btn-up">
				<a id="btn-up"><i class="fa fa-angle-up"></i></a>
			</div>

		</section>

		<footer>
			<div id="footer-page" class="container text-center">
				<p class="pull-left">Copyright © Your Website 2018</p>
				<ul class="list-inline pull-right list-social">
					<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
					<li><a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
				</ul>
			</div>
		</footer>

		<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>